body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ac162f;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.cta {
    background-color: #28A745;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #28A745;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 20%;
}